{% extends "general/layout.html" %}
{% load static %}
{% load mathfilters %}

{% block body %}
<div id="main-container">

    <h1>
        <center>Carrito de Compras</center>
    </h1>
    <!--{% for billDetail in billDetails %}
    <p>{{billDetail.product.name}}</p>
    <p>{{billDetail.product.price|sub:billDetail.product.discount}}</p>
    <br>
    {% endfor %}
    <br>
    {{bill.total}} -->
    <!--<span class="span class="border border-1">
    {% for billDetail in billDetails %}
   
        <center>
            <p>{{billDetail.product.name}}</p>
            <p>{{billDetail.product.price|sub:billDetail.product.discount}}</p>
            <br>
        </center>
    
    {% endfor %}
    <center>
        <p><b>Total:</b>{{bill.total}}</p>
    </center>    
    </span>
</div>-->
    <center>
        {% if billDetails %}
            <table>
                <thead>
                    <th><b>Producto</b></th>
                    <th><b>Precio</b></th>
                    <th><b>Eliminar</b></th>
                </thead>
                <tbody>
                    {% for billDetail in billDetails %}
                    <tr>
                        <td>{{billDetail.product.name}}</td>
                        <td>{{billDetail.product.price|sub:billDetail.product.discount}}</td>
                        <td>
                            <button class="common-button" onclick="removeProduct('{{billDetail.product.id}}')">Eliminar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <p class="common-text"><b>Total:</b> ${{bill.total}}</p>
        {% else %}
            <p class="common-text">No hay productos aun.</p>
        {% endif %}
    </center>
{% endblock %}
{% block script %}
<script>
    function removeProduct(productId) {
        fetch('cart/product/' + productId, {
            method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                location.href="{% url 'cart' %}"
            });
    }
</script>
{% endblock %}