{% extends "general/layout.html" %}
{% load static %}
{% load mathfilters %}

{% block body %}
<div id="main-container">
   
    <h1><center>Carrito de Compras</center></h1>
    <!--{% for billDetail in billDetails %}
    <p>{{billDetail.product.name}}</p>
    <p>{{billDetail.product.price|sub:billDetail.product.discount}}</p>
    <br>
    {% endfor %}
    <br>
    {{bill.total}} -->
    <span class="span class="border border-1">
    {% for billDetail in billDetails %}
   
        <center>
            <p>{{billDetail.product.name}}</p>
            <p>{{billDetail.product.price|sub:billDetail.product.discount}}</p>
            <br>
        </center>
    
    {% endfor %}
    <center>
        <p><b>Total:</b>{{bill.total}}</p>
    </center>    
    </span>
</div>
{% endblock %}