{% extends "general/layout.html" %}
{% load static %}

{% block body %}

<div id="main-container">
    <center><h2>Nuevo Emprendimiento</h2></center>
    <br>
    <div class="form-group2">
        <form action="emprendimientos/0" method="POST">          
            <div style="display: flex; align-items: center">   
                <input class="form-input" type="text" name="Nombre" id="name" placeholder="Ingrese Nombre del Emprendimiento">
                <input class="form-input" type="text" name="Descripcion" id="description" placeholder="Ingrese Descripción">
                <input class="form-input" type="text" name="Ubicacion" id="location" placeholder="ingrese Localización">
                <input class="form-input" type="text" name="Telefono" id="phone" placeholder="Ingrese Telefono"> 
                <input class="form-input" type="text" name="ImagenURL" id="imgUrl" placeholder="Ingrese imagen URL">           
                <input class="common-button" type="submit" value="Agregar">      
            </div>
        </form>
    </div>
    <br>
    <hr>
    <br>
    <br>
    <center><h2>Emprendimientos</h2></center>
    <br>
    <div class="form-row">
        {% for undertaking in undertakings %}
            <div class="col-12 col-sm-4 col-lg-2 p-2">
                <article class="card h-80 bg-sucess">
                    <div style="display: flex; align-items: center; justify-content: space-between; padding: 5px 5px;">
                        <p>{{undertaking.name}}</p>
                        <button class="common-button" onclick="removeUndertaking('{{undertaking.id}}')">Eliminar</button>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function removeUndertaking(undertakingId) {
        fetch('emprendimientos/' + undertakingId, {
            method: 'DELETE'
        })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                location.href = "{% url 'undertakingsCrud' %}"
            });
    }
</script>
{% endblock %}