{% extends "general/layout.html" %}
{% load static %}

{% block body %}

<div id="main-container">
    <center><h2>Nuevo Evento</h2></center>
    <br>
    <div class="form-group2">
        <form action="eventos/0" method="POST">          
            <div style="display: flex; align-items: center">   
                <input class="form-input" type="text" name="Nombre" id="name" placeholder="Ingrese Nombre del Evento">
                <input class="form-input" type="text" name="Descripcion" id="description" placeholder="Ingrese Descripción">                
                <input class="common-button" type="submit" value="Agregar">       
            </div>
        </form>
    </div>
    <br>
    <hr>
    <br>
    <br>
    <center><h2>Eventos</h2></center>
    <br>
    <div class="form-row">
        {% for event in events %}
            <div class="col-12 col-sm-4 col-lg-2 p-2">
                <article class="card h-80 bg-sucess">
                    <div style="display: flex; align-items: center; justify-content: space-between; padding: 5px 5px;">
                        <p>{{event.name}}</p>
                        <button class="common-button" onclick="removeEvent('{{event.id}}')">Eliminar</button>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function removeEvent(eventId) {
        fetch('eventos/' + eventId, {
            method: 'DELETE'
        })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                location.href = "{% url 'eventsCrud' %}"
            });
    }
</script>
{% endblock %}