{% extends "general/layout.html" %}
{% load static %}

{% block body %}
<div id="main-container">
    <h1>
        <center>Eventos</center>
    </h1>
    <div class="form-row">
        {% for event in events %}
        <div class="col-12 col-sm-3 col-lg-3 p-3">
            <article class="card h-100 bg-sucess">
                <center>
                    <h3 class="title">{{ event.name}}</h3>
                    <p style="text-align: justify;">{{event.description}}</p>
                    <iframe src="https://www.google.com/maps/d/embed?mid=1F7B0_t-ij_vbqXhnC8PNVyP5XHE0vQTV" width="200"
                        height="200"></iframe>
                </center>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}