{% extends "general/layout.html" %}
{% load static %}

{% block body %}
<div id="main-container">
    <h1>
        <center>Eventos</center>
    </h1>    
    <div class="container">
        <div class="row">
            <div class="col-9">.
            </div>
            <div class="col-4 p-3">              
                {% for event in events %}
                <h3><b>{{ event.name}}</b></h3>
                <hr style="text-align: justify;">{{event.description}}</hr>
                {% endfor %}            
            </div>
            <div class="col-6">
                <iframe src="https://www.google.com/maps/d/embed?mid=1F7B0_t-ij_vbqXhnC8PNVyP5XHE0vQTV" width="640"
                height="480"></iframe>                
            </div>
        </div>
    </div>
</div>
{% endblock %}