{% extends "general/layout.html" %}
{% load static %}

{% block body %}
<div id="main-container">
    <h1><center>Eventos</center></h1>
    {% for event in events %}  
    <div class="container">
        <div class="form-row">
            <div class="col-6 col-sm-4 col-lg-3 p-3">
                <article class="card h-100 bg-sucess">
                    <center>
                        <h3 class="title">{{ event.name}}</h3>     
                        <p>{{event.description}}</p>
                        <iframe src="https://www.google.com/maps/d/embed?mid=1F7B0_t-ij_vbqXhnC8PNVyP5XHE0vQTV" width="640" height="480"></iframe>
                     </center>
                </article>
                
            </div>            
        </div>
    </div>        
    <br>
    {% endfor %}
</div>
{% endblock %}