{% extends "general/layout.html" %}
{% load static %}

{% block body %}
<h1>
    <center>Gestion Items</center>
</h1>
<br>
<center>
    <button class="common-button" onclick="location.href='productos-crud'">Productos</button>
    <button class="common-button" onclick="location.href='emprendimientos-crud'">Emprendimientos</button>
    <button class="common-button" onclick="location.href='inversionistas-crud'">Inversionistas</button>
    <button class="common-button" onclick="location.href='eventos-crud'">Eventos</button>
</center>

{% endblock %}