{% extends "general/layout.html" %}
{% load static %}

{% block body %}
<h1>
    <center>Gestion Items</center>
</h1>
<br>
<center>
    <button class="common-button" onclick="location.href='products-crud'">Producto</button>
    <button class="common-button" onclick="location.href='products-crud'">Emprendimientos</button>
    <button class="common-button" onclick="location.href='products-crud'">Inversionistas</button>
    <button class="common-button" onclick="location.href='products-crud'">Eventos</button>
</center>

{% endblock %}