{% extends "general/layout.html" %}
{% load static %}

{% block body %}
<h1>
    <center>Gestion Items</center>
</h1>
<h2 class="title">
    <center>CRUD</center>
</h2>

<nav>
    <ul>
        <li>
            <a href="productos_crud.html"> <b>Canasta Agricola</b></a>
        </li>        

        <li>
            <a href="emprendimientos_crud"><b>Emprendimientos</b></a>
        </li>

        <li>
            <a href="inversionistas_crud"><b>Inversionistas</b></a>
        </li>

        <li>
            <a href="eventos_crud"><b>Eventos</b></a>
        </li>
    </ul>
</nav>
<div>



{% endblock %}