{% extends "general/layout.html" %}
{% load static %}

{% block body %}
<div id="main-container">
    <h1>
        <center>Inversionistas</center>
    </h1>
    <div class="form-row">
        {% for investor in investors %}
        <div class="col-5 col-sm-4 col-lg-3 p-3">
            <article class="card h-100 bg-sucess">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <img id="investor_img" src="{{investor.imgURL}}"
                            class="border rounded-circle border-secondary border-1" style="max-height: 100px;" alt="">
                        <div class="ps-lg-5">
                            <h4><b>{{investor.name}}</b></h4>
                            <!--<h5>{{investor.email}}</h5>-->
                        </div>
                    </div>
                    <div>
                        <h5>{{investor.email}}</h5>
                        <p style="text-align: justify;">{{investor.description}}</p>
                    </div>
                </div>
            </article>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %}