{% extends "general/layout.html" %}
{% load static %}

{% block body %}
<div id="main-container">
    <center><h2>Nuevo Producto</h2></center>
    <br>
    <div class="form-group2">
        <form action="productos/0" method="POST">
            {% csrf_token %}
            <div style="display: flex; align-items: center">   
                <input class="form-input" type="text" name="Nombre" id="nombre" placeholder="Ingrese Nombre del Producto">
                <input class="form-input" type="text" name="Precio" id="precio" placeholder="Ingrese Precio">
                <input class="form-input" type="text" name="Descuento" id="descuento" placeholder="ingrese Descuento">
                <input class="form-input" type="text" name="Descripcion" id="descripcion" placeholder="Ingrese Descripción"> 
                <input class="form-input" type="text" name="ImagenURL" id="imagen" placeholder="Ingrese imagen URL">           
                <input class="common-button" type="submit" value="Agregar">       
            </div>
        </form>
    </div>
    <br>
    <hr>
    <br>
    <br>
    <center><h2>Productos Disponibles</h2></center>
    <br>
    <div class="form-row">
        {% for product in products %}
            <div class="col-12 col-sm-4 col-lg-2 p-2">
                <article class="card h-80 bg-sucess">
                    <div style="display: flex; align-items: center; justify-content: space-between; padding: 5px 5px;">
                        <p>{{product.name}}</p>
                        <button class="common-button" onclick="removeProduct('{{product.id}}')">Eliminar</button>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function removeProduct(productId) {
        fetch('productos/' + productId, {
            method: 'DELETE'
        })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                location.href = "{% url 'productsCrud' %}"
            });
    }
</script>
{% endblock %}