{% extends "general/layout.html" %}

{% block body %}
    <div class="unspaced-form-row centered-content">
        <div class="col-12 col-sm-3">
            <div class="centered-content">
                <h1>Registrar</h1>
            </div>
            
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <div style="display: flex; justify-content: flex-end">
                    <input class="common-button" type="submit" value="Register">
                </div>
            </form>

            <hr>
            <div class="centered-content common-text">
                ¿Ya tienes una cuenta?&nbsp;<a href="{% url 'login' %}">Log in aquí.</a>
            </div>
        </div>
    </div>
{% endblock %}